.BillItemWrapper {
    display: flex;
    justify-content: center;
}

.BillItemFirstCol {
    width: 60%;
    float: left;
}

.BillItem {
    margin: 10px;
    width: 56%;
}

.BillItemTitle {
    float: left;
}

.BillItemAmount {
    float: right;
}

.BillItemPrice{
    float: right;
}

.deleteBillItemBtn {
    margin-left: 7px;
    margin-top: -6px;
    font-size: 21px;
    font-weight: bolder;
    color: #ce1616;
    float: right;
    border: none;
    background: transparent;
    cursor: pointer;
}