.AddItemButton{
    width: 300px;
    font-size: 18px;
    padding: 14px;
    border-radius: 22px;
    margin: 7px;
}

.fa{
    float: left;
}

.AddItemButtonTitle{
    float: left;
    padding-left: 6px;
}

.itemPrice{
    float: right;
}