.AddItemsWrapper{
    display: flex;
    justify-content: center;
}

.AddItemsField {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 24px;
}

.Menu {
    font-weight: normal;
}