.BillWrapper {
    display: flex;
    justify-content: center;
}

.Bill {
    margin-top: 22px;
    width: 29%;
    border: 1px solid lightgrey;
    padding: 27px 0;
}

.OrderTitle {
    font-size: 27px;
}